<%= content_for :body do %>
<main style="background-color: #140e30; color: white">
  <br>
  <h1 style="text-align:center;">Guides</h1>
  <br>
  <h2> Create New Guide </h2>
  
  <%= form_tag guides_path, :method => :post do %>
  
    <%= render :partial => 'guide_form' %>
    <%= submit_tag 'Save Changes' %>
  <% end %>
</main>    
<% end %>    